body {
  /* background-image: url('./assets/o.png');
  background-size: 100% 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.movie {
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #000000a1;
}

.movie img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
